Repository nephio-project/api: changes, and which Prow jobs are due for each by the changed paths.
All: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

.prow.yaml:

presubmits:
  - name: presubmit-api-go-test
    decorate: true
    run_if_changed: "(\\.go|^Makefile)$"
    spec:
      containers:
      - image: golang:1.20.2
        command:
        - make
        args:
        - test
  - name: presubmit-api-go-fmt
    decorate: true
    run_if_changed: "(\\.go)$"
    spec:
      containers:
      - image: golang:1.20.2
        command:
        - make
        args:
        - fmt
  - name: presubmit-api-go-vet
    decorate: true
    run_if_changed: "(\\.go)$"
    spec:
      containers:
      - image: golang:1.20.2
        command:
        - make
        args:
        - vet
  - name: presubmit-api-golangci-lint
    decorate: true
    run_if_changed: "(\\.go)$"
    spec:
      containers:
      - image: golang:1.20.2
        command:
        - "/bin/sh"
        - "-c"
        - |
          wget -O- -nv https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s v1.52.2
          bin/golangci-lint run -v

Update OWNERS
  OWNERS
Due: none

Fix OWNERS
  OWNERS
Due: none

updated makefile and renamed tests to test
  .gitignore
  Makefile
  nf_requirements/v1alpha1/capacity_test.go
  nf_requirements/v1alpha1/dnn_test.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

Add fmt, vet, test make targets
  Makefile
  nf_requirements/v1alpha1/interface_types.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

Align with nephio repo Makefile and Prow config
  .golangci.yml
  .prow.yaml
  Makefile
Due: presubmit-api-go-test

Call gosec directly
  .prow.yaml
Due: none

Fix args
  .prow.yaml
Due: none

denysa: add upfdeployment types and config.
  config/crd/bases/req.nephio.org_upfdeployments.yaml
  nf_requirements/v1alpha1/upfdeployment_types.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

denysa: fix copyright authors and year.
  nf_requirements/v1alpha1/upfdeployment_types.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

rebase
  lcov.info
Due: none

denysa: move upfdeployment_types into nf_deployment/v1alpha1 folder.
  .gitignore
  config/crd/bases/req.nephio.org_upfdeployments.yaml
  config/crd/bases/workload.nephio.org_upfdeployments.yaml
  nf_deployments/v1alpha1/upfdeployment_types.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

aligned naming
  nf_requirements/v1alpha1/capacity_types.go
  nf_requirements/v1alpha1/dnn_types.go
  nf_requirements/v1alpha1/interface.go
  nf_requirements/v1alpha1/interface_interfaces.go
  nf_requirements/v1alpha1/interface_types.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

added tests
  go.mod
  go.sum
  nf_requirements/v1alpha1/interface_interfaces.go
  nf_requirements/v1alpha1/interface_test.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

removed lvinfo file
  lcov.info
Due: none

changed header to nephio authors
  nf_requirements/v1alpha1/capacity_types.go
  nf_requirements/v1alpha1/dnn_types.go
  nf_requirements/v1alpha1/groupversion_info.go
  nf_requirements/v1alpha1/interface_interfaces.go
  nf_requirements/v1alpha1/interface_test.go
  nf_requirements/v1alpha1/interface_types.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

added nf deployment cr definitions
  config/crd/bases/nf.nephio.org_amfdeployments.yaml
  config/crd/bases/nf.nephio.org_smfdeployments.yaml
  config/crd/bases/nf.nephio.org_upfdeployments.yaml
  config/crd/bases/req.nephio.org_capacities.yaml
  nf_deployments/v1alpha1/amf_deployment_types.go
  nf_deployments/v1alpha1/groupversion_info.go
  nf_deployments/v1alpha1/nf_deployment_types.go
  nf_deployments/v1alpha1/smf_deployment_types.go
  nf_deployments/v1alpha1/upf_deployment_types.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

updated for linter issues
  nf_deployments/v1alpha1/amf_deployment_types.go
  nf_deployments/v1alpha1/nf_deployment_types.go
  nf_deployments/v1alpha1/smf_deployment_types.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

moved the group naming to workload
  config/crd/bases/workload.nephio.org_amfdeployments.yaml
  config/crd/bases/workload.nephio.org_smfdeployments.yaml
  config/crd/bases/workload.nephio.org_upfdeployments.yaml
  nf_deployments/v1alpha1/groupversion_info.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

updated references
  nf_deployments/v1alpha1/smf_deployment_types.go
  nf_deployments/v1alpha1/upf_deployment_types.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

fixed 2x copyright
  nf_deployments/v1alpha1/groupversion_info.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

fixed 2x copyright
  nf_deployments/v1alpha1/amf_deployment_types.go
  nf_deployments/v1alpha1/nf_deployment_types.go
  nf_deployments/v1alpha1/smf_deployment_types.go
  nf_deployments/v1alpha1/upf_deployment_types.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

changed dnn to data network
  nf_deployments/v1alpha1/nf_deployment_types.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

aligned Bgp to BGP
  nf_deployments/v1alpha1/nf_deployment_types.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

aligned routerID
  nf_deployments/v1alpha1/nf_deployment_types.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

aligned bgp neighbor
  nf_deployments/v1alpha1/nf_deployment_types.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

aligned perAS
  nf_deployments/v1alpha1/nf_deployment_types.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

aligned yaml/json tags
  nf_deployments/v1alpha1/nf_deployment_types.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

added status to reflect info back to the cr
  go.mod
  go.sum
  nf_requirements/v1alpha1/dnn_types.go
  nf_requirements/v1alpha1/interface_types.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

Prow job update, license header checking added, lint timeout increased
  .prow.yaml
  Makefile
Due: presubmit-api-go-test

added new condition + added makefile
  Makefile
  config/crd/bases/workload.nephio.org_amfdeployments.yaml
  config/crd/bases/workload.nephio.org_smfdeployments.yaml
  config/crd/bases/workload.nephio.org_upfdeployments.yaml
  nf_deployments/v1alpha1/nf_deployment_types.go
  nf_deployments/v1alpha1/zz_generated.deepcopy.go
  nf_requirements/v1alpha1/zz_generated.deepcopy.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

removed [] with pointers
  nf_deployments/v1alpha1/nf_deployment_types.go
  nf_deployments/v1alpha1/zz_generated.deepcopy.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

aligned configRefs to json/yaml tags
  nf_deployments/v1alpha1/nf_deployment_types.go
  nf_deployments/v1alpha1/zz_generated.deepcopy.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

aligned omitempty + namings
  config/crd/bases/workload.nephio.org_amfdeployments.yaml
  config/crd/bases/workload.nephio.org_smfdeployments.yaml
  config/crd/bases/workload.nephio.org_upfdeployments.yaml
  nf_deployments/v1alpha1/nf_deployment_types.go
  nf_deployments/v1alpha1/zz_generated.deepcopy.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

alignd ddn name
  nf_deployments/v1alpha1/nf_deployment_types.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

Normalize mismathing json and yaml tags of the DataNetwork.NetworkInstance field
  nf_requirements/v1alpha1/dnn_types.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

updated deepcopy
  config/crd/bases/req.nephio.org_datanetworks.yaml
  config/crd/bases/req.nephio.org_interfaces.yaml
  config/crd/bases/workload.nephio.org_amfdeployments.yaml
  config/crd/bases/workload.nephio.org_smfdeployments.yaml
  config/crd/bases/workload.nephio.org_upfdeployments.yaml
  nf_requirements/v1alpha1/zz_generated.deepcopy.go
Due: presubmit-api-go-test, presubmit-api-go-fmt, presubmit-api-go-vet, presubmit-api-golangci-lint

Update .prow.yaml
  .prow.yaml
Due: none

Removing bash dependency in Makefile
  Makefile
Due: presubmit-api-go-test
